# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
venv

# testing
/coverage
twitter_cred.yaml

# production
/build
.env

# misc
.vscode
__pycache__
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.ipynb_checkpoints

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# training data
twitter_general_training_data.csv
twitter_stock_training_data.csv

# local data storage
data